@include describe('The uf-calc__analysis2allListOfNumber function =>'){
  @include it('将所有表达式列表分解成数组'){
    @include assert-equal(
      uf-calc__analysis2allListOfNumber(
        (
          (
            exp: '2px + 4ch',
            product: 2,
            reply: 0,
          ),
        )
      ),
      append((), (
        exp: 2px 4ch,
        product: 2,
        reply: 0,
      ))
    );
  }
}