@include describe('The uf-calc__analysisCalc function =>'){
  @include it('分解字符串表达式'){
    @include assert-equal(
      uf-calc__analysisCalc('calc((1px + 3vh) / 3)'),
      append((), (
        exp: 1px 3vh,
        product: 3,
        reply: 0,
      ))
    );
  }
}