@include describe('The uf-calc__analysisAndConcat function =>'){
  @include it('分解字符串表达式'){
    @include assert-equal(
      uf-calc__analysisAndConcat('calc((2px + 7ch) / 2)'),
      append((), (
        exp: 2px 7ch,
        product: 2,
        reply: 0,
      ))
    );
  }
}