@include describe('The fcalc function =>'){
  @include it('扩展原生函数 calc （添加强大的计算功能）'){
    @include assert-equal(
      fcalc(
        1px,
        var(--a),
        calc((2px + 4%) / 2 - var(--a) / 2 + var(--a) * var(--b)),
        (-2px 3cm),
        (
          exp: (
            exp: (
              exp: calc(4px + 40%),
              multiple: 3,
              mode: 1,
            ),
            multiple: 2,
          ),
          multiple: 2,
        ),
      ),
      calc(3px + 32% + 3cm + var(--a) * (var(--b) + 0.5))
    );
  }
}