@include describe('The uf-calc__format-exp function =>'){
  @include it('格式化表达式'){
    @include assert-equal(
      uf-calc__format-exp(
        (
          exp: 1px 2vh,
          product: 2,
        )
      ), 
      (
        (
          product: 2,
          reply: 0,
          analysis: false,
          exp: 1px 2vh,
        )
      )
    );
  }
}