@include describe('The uf-calc__format-exps function =>'){
  @include it('格式化表达式列表'){
    @include assert-equal(
      uf-calc__format-exps(
        (
          exp: 1px 2vh,
          product: 2,
        )
        (2px 4%)
        5px
      ), 
      (
        (
          product: 2,
          reply: 0,
          analysis: false,
          exp: 1px 2vh,
        )
        (
          product: 1,
          reply: 0,
          analysis: false,
          exp: 2px 4%,
        )
        (
          product: 1,
          reply: 0,
          analysis: false,
          exp: append((), 5px),
        )
      ),
      $inspect: true
    );
  }
}