@include describe('The uf-calc__analysisOfRational function =>'){
  @include it('表达式所有项都为有理数'){
    @include assert-equal(
      uf-calc__isAllRational(
        (
          exp: 2px 4ch,
          product: 2,
          reply: 0,
        )
      ),
      true
    );
  }

  @include it('表达式中包含无理数'){
    @include assert-equal(
      uf-calc__isAllRational(
        (
          exp: 2px 4ch,
          product: 3,
          reply: 0,
        )
      ),
      false
    );
  }
}