@include describe('The uf-calc__analysis2mapAndDealWith function =>'){
  @include it('将字符串转换成 map'){
    @include assert-equal(
      uf-calc__analysis2mapAndDealWith(
        '2px + 4ch'
        '4% - 2cm'
      ),
      (
        (
          exp: '2px + 4ch',
          product: 1,
          reply: 0
        )
        (
          exp: '4% - 2cm',
          product: 1,
          reply: 0
        )
      )
    );
  }
}