@include describe('The uf-calc__mergeConfig-simplify function =>'){
  @include it('合并选项（简化 product 长度）'){
    @include assert-equal(
      uf-calc__mergeConfig(
        (
          exp: 3% 5vw,
          product: .25,
        )
      ), 
      (
        product: 4,
        reply: 1,
        analysis: false,
        exp: 3% 5vw,
      ),
    );
  }
}