@include describe('The uf-calc__mergeConfig-map function =>'){
  @include it('提供值类型为 map 的合并 '){
    @include assert-equal(
      uf-calc__mergeConfig-map(
        (
          exp: 1px,
        )
      ), 
      (
        product: 1,
        reply: 0,
        analysis: false,
        exp: append((), 1px)
      ),
      $inspect: true
    );
  }
}