@include describe('The uf-calc__mergeConfig-list function =>'){
  @include it('提供值类型为 list 的合并'){
    @include assert-equal(
      uf-calc__mergeConfig-list(
        2px 4vh,
        (
          exp: 3% 5vw,
        )
      ), 
      (
        product: 1,
        reply: 0,
        analysis: false,
        exp: 2px 4vh,
      ),
      $inspect: true,
    );
  }
}