@include describe('The uf-calc__exp-mergeDataOrCreateArray function =>'){
  @include it('检测是否存在表达式，存在则合并数据，否则创建一个 List 并赋值'){
    @include assert-equal(
      uf-calc__exp-mergeDataOrCreateArray(
        (
          '10.5': (
            exp: 2px 3vh 2% 3vh, 
            product: .5, 
            reply: 1,
          )
        ),
        '9',
        (
          exp: 2% 3vh,
          product: -2,
          reply: 2,
        ),
      ), 
      (
        '10.5': (
          exp: 2px 3vh 2% 3vh, 
          product: .5, 
          reply: 1,
        ),
        '9': (
          exp: 2% 3vh,
          product: -2,
          reply: 2,
        ),
      )
    );
  }
}