@include describe('The uf-calc__outputExpToString function =>'){
  @include it('输入表达式输出计算结果（字符串运算表达式）'){
    @include assert-equal(
      uf-calc__outputExpToString(
        (
          exp: 3px 4vh,
          product: 1,
          reply: 0,
        )
      ),
      '3px + 4vh'
    );
  }
}