@include describe('The uf-calc__outputExpToOnlyValue function =>'){
  @include it('输入表达式输出计算结果（仅有一个值且不为 var）'){
    @include assert-equal(
      uf-calc__outputExpToOnlyValue(
        (
          exp: 3px,
          product: 1,
          reply: 0,
        )
      ),
      3px
    );
  }
}