@include describe('The uf-calc__exp-toggleNegativeValue function =>'){
  @include it('对表达式进行负值切换'){
    @include assert-equal(
      uf-calc__exp-toggleNegativeValue(
        (
          exp: 2px 3vh,
          product: -1,
          reply: 1,
        )
      ), 
      (
        exp: -2px -3vh,
        product: 1,
        reply: 1,
      )
    );
  }
}