@include describe('The uf-font-size function =>'){
  @include it('对 font-size 值进行转换'){
    @include assert-equal(
      uf-font-size(16),
      1rem
    );
  }

  @include it('font-size'){
    $this-cache: $u-fixed__fontSize;
    $u-fixed__fontSize: true !global;

    @include assert-equal(
      uf-font-size(16),
      16px
    );

    $u-fixed__fontSize: $this-cache !global;
  }
}