@import 'main';

:root{
  --div-box: .5em;
}

@mixin div-box {
  margin: var(--div-box); padding: var(--div-box); border-radius: var(--div-box); box-shadow: 0 0 var(--div-box); box-sizing: border-box;
}

@function oftest($name, $value){
  @return unquote('#{$name}: #{$value}');
}

$cache: fcalc(
  1, 
  (3, 2cm, (4, 5)),
  var(--b),
  --a,
  (
    exp: (7% -2vh),
    multiple: 2,
    mode: 1,
  ),
  (
    exp: 'calc(2px + 7pt)',
    multiple: 2,
    mode: 1,
  ),
);

@each $value in $cache {
  // @debug $value;
}

.um-effect-arrow{
  @include div-box;
  display: flex;

  @include after{
    @include um-effect__arrow;
  }
}

.um-effect-triangle-equil{
  $this-edge: 2em;

  @include div-box;
  display: flex;

  @include before(){
    @include um-effect__triangle-equil($this-edge, 1);
  }

  @include after(){
    @include um-effect__triangle-equil($this-edge, 3);
  }
}

.um-effect-triangle{
  $this-edge: 2em;
  $this-height: $this-edge / 2;

  @include div-box;
  display: flex;

  @include before(){
    @include um-effect__triangle($this-edge, $this-height, 1);
  }

  @include after(){
    @include um-effect__triangle($this-edge, $this-height, 3);
    margin-left: 1em;
  }
}

.um-quick-relative{
  @include div-box;
  @include um-quick-relative(
    20px,
    (
      width: 50%,
      padding: 10px 20px 5px 16px,
      line-height: 40px,
      font-weight: 400,
      text-indent: 1rem,
      content: '10',
      z-index: 10,
      opacity: .7,
    ), $option: (rem: true),
  );

  @include before('um-quick-relative 测试');
}

.uf-calc{
  --this-calc-var: 50%;

  $this-var: --this-calc-var;
  // $this-var: unquote('var(--this-calc-var)');

  @include div-box;
  // width: uf-calc($this-var);

  @include before(null){
    @at-root &{
      white-space: pre; content: 
      'uf-calc 方法简化了 scss 和 css var 一起使用上的不便\a'
      + '否则需要这样定义：$this-var: unquote(\'var(--this-calc-var)\')';
    }
  }
}

.libsass3-5-0{
  @include div-box;

  @include before('测试libsass@3.5.0新增的功能');

  @include after('该宽度是通过科学计数法来定义'){
    @include div-box;
    width: 3e2px; display: block;
  }

  &[custom-value='abc']{
    color: #f00;
  }

  &[custom-value='ABC' i]{
    color: #000;
  }
}

.css3var{
  --width: 50%;

  @include div-box;
  width: var(--width);
  
  @include before('支持css3 var定义（该标签的宽度是通过css3 var来定义的）');
}

.define-prop-box{
  @include div-box;
}

// @debug uf-calc-single('calc(10px + 5vh)', 4, 0);
// @debug uf-calc('calc(10px + 5vh)', 5px);

// @debug uf-calc('calc(var(--a) * -5)');

// @debug uf-calc('calc(5px)');

// @debug uf-calc('calc(2px + (-5px + 6vh + 7%) / 4 + (var(--a) + 7%) * 3 - var(--b) + 10px - 6pt - (4vmin + 3vh) / 7)');

.of-calcs-test{
  --a: 10px;
  --b: 20px;

  $this-width: uf-calc(
    'calc(2px + (-5px + 6vh + 7%) / 4 + (var(--a) + 7%) * 3 - var(--b) + 10px - 6pt - (4vmin + 3vh) / 7)',
    (
      exp: (3px, 2vh, --a, --b),
      product: -4
    ),
    (
      exp: (3px, --a),
      product: -1,
      reply: 1
    ),
    (1px 2em),
    -4vh,
    --a,
    (
      exp: (5vw 6vh)
    ),
    --a,
    (
      exp: (5vw 6vmin),
      product: 2,
      reply: 1
    ),
    (
      exp: (7% 2vw -15px),
      product: 3
    ),
    (
      exp: (7% 2vw),             
      product: 5,
      analysis: true

    ),
    (
      exp: (--a 10px),
      product: 1 / 3,
      reply: 1
    )
  );
  /* $this-width: uf-calc(
    'calc(200px)'
  ); */

  // @debug $this-width;
  @include div-box;
  width: $this-width; line-height: 1em;

  @include after('uf-calc 测试');
}

/* @debug oftest(
  'uf-is-rational__number',
  uf-is-rational__number(-3)
); */

/* @debug oftest(
  'uf-is-rational__division',
  uf-is-rational__division(6, 3)
); */

/* @debug oftest(
  'uf-is-rational__multiplication',
  uf-is-rational__multiplication(0.056, 0.034)
); */

//type=checkbox :indeterminate
#indeterminate{
  &:indeterminate{
    + span{
      color: #f00;
    }
  }
}

//cssnext
.cssnext{
  --a: 20px;
  --b: 1em;

  $this-var: --test-color;
  #{$this-var}: $u-color;

  @include div-box;
  @include um-transition;
  width: uf-calc-single(100% --a --b -10em, 2, 0, true);
  border: 0 solid;
  border-top-width: uf-calc-single(--a, .75, 1, true);
  border-right-width: uf-calc-single(--a 10px, 2, 0);
  border-bottom-width: uf-calc-single(--a 10px, .5, 1);
  border-left-width: uf-calc-single(--a 10px, 2, 0, true);
  line-height: uf-calc-single(1rem --a --b 1em, 2, 0);
  text-indent: uf-calc-single(--a);
  color: var($this-var);

  @include before('cssnext => var 测试');

  &:hover{
    #{$this-var}: $u-color-light;
  }
}

//不嵌套标签做表格固定效果（ie11 不支持，Firefox ）
.scroll-translate{
  @include div-box;
  width: 60%; margin-left: 10%; padding-top: 0; height: 150px; position: relative; overflow: auto;
}

//表格单元格动画效果
.table-transition{
  --border-width: 1px;

  width: 80%; margin: auto; padding: var(--border-width); border-collapse: separate; border-spacing: 0; line-height: 1.7; box-sizing: border-box;

  > tbody{
    > tr{
      $this-args: null, .5s;

      &:nth-child(2n){
        @include um-keyframes($this-args...){
          0%{
            transform: translate(-30%, 0); opacity: 0;
          }
          100%{
            transform: translate(0, 0); opacity: 1;
          }
        }
      }

      &:nth-child(2n + 1){
        @include um-keyframes($this-args...){
          0%{
            transform: translate(30%, 0); opacity: 0;
          }
          100%{
            transform: translate(0, 0); opacity: 1;
          }
        }
      }

      &:not(:last-child){
        > td{
          &:nth-child(2n){
            @include um-keyframes($this-args...){
              0%{
                transform: translate(0, 100%); opacity: 0;
              }
              100%{
                transform: translate(0, 0); opacity: 1;
              }
            }
          }
          &:nth-child(2n + 1){
            @include um-keyframes($this-args...){
              0%{
                transform: translate(0, -100%); opacity: 0;
              }
              100%{
                transform: translate(0, 0); opacity: 1;
              }
            }
          }
        }
      }

      @include um-not(':first-child', ':last-child', ':nth-child(5)'){
        color: #f00;
      }
      
      @include um-matches(':nth-child(2)', ':nth-child(3)'){
        text-shadow: 0 0 .2em;

        &:hover{
          text-shadow: 0 0 .2em #000;
        }
      }
    }
  }
  td, th{
    box-shadow: 0 0 0 var(--border-width) #444; background-color: #fff;
  }
}

.parabola{
  $this-top: 8em;
  $this-left: 20vw;

  &-test{
    @include div-box;
    width: $this-left; height: $this-top; position: relative; box-sizing: content-box;

    &:hover{
      > .parabola-box{
        transform: translate($this-left, 0) translateX(-100%);

        @include after(null){
          transform: translate(0, $this-top) translateY(-100%);
        }
      }
    }
  }

  &-box{
    $this-duration: 1s;

    @include um-ratio(2em);
    transition: transform $this-duration cubic-bezier(0.42, 0, 1, 0.18);

    @include after(){
      @include um-ratio(100%);
      display: block; transition: transform $this-duration cubic-bezier(0, 0, 0, 1.24); background-color: #ccc;
    }
  }
}

.counter-none{
  @include div-box;

  ul{
    counter-reset: counter-count 0;
  }

  li{
    padding-left: 2em; counter-increment: counter-count;

    > span{
      @include after(null){
        content: counters(counter-count, '-');
      }
    }
  }

  > li{
    &:last-child{
      display: none;
    }
  }
}

.css-color{
  @include div-box;
  height: 5em; position: relative;

  @include before(){
    @include um-ratio(100%);
    position: absolute; top: 0; left: 0; background-color: rgb(255, 0, 0);
  }

  @include after(){
    @include um-ratio(50%);
    @include um-v(po);
    background-color: rgb(254, 0, 0);
  }
}

.css-animation{
  @include div-box;

  &-button{
    position: relative; display: inline-block;

    > p{
      @include um-keyframes(null ,1s linear forwards){
        0%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      };
      width: 10vw; height: 4em; position: absolute; top: 100%; left: 0; background: linear-gradient(#f00, #0f0, #00f);
    }

    &:hover{
      > p{
        // animation-direction: reverse; animation-duration: 1.5s;
        @include um-keyframes(null ,1s linear forwards){
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        };
      }
    }
  }

  > input{
    display: block;
  }

  > button{
    margin-top: 3em;
  }
}

.jitter-blur{
  @include div-box;
  height: 200px; position: relative;

  &-box{
    @include um-v(ty);
    min-width: 10%; white-space: nowrap; background-color: #ccc;

    > p{
      margin-bottom: 1em;
    }

    > i{
      // position: absolute; top: 1em; left: 0;
    }

    @include after('after'){
      @include um-transition;
      display: block; //transform: scale(0);
    }

    &:hover{
      @include after(null){
        transform: scale(1);
      }
    }
  }
}

/* @debug oftest(
  'uf-string-split', 
  uf-string-split('a-c-v', '-')
); */

/* @debug oftest(
  'uf-string-split__for', 
  uf-string-split__for(1 2 3, 'a-c-v', '-')
); */

/* @include IIFE{
  $icons1: (
    a: aa,
    b: bb
  );
  $icons2: a b c d c;
  @debug oftest(
    'uf-icons => Map',
    uf-icons($icons1, 'icon-', '.png')
  );
  @debug oftest(
    'uf-icons => List',
    uf-icons($icons2, 'icon-', '.png')
  );
} */

@include IIFE{
  $value: all(17);

 .ofline{
  @include div-box;

   //要将 html 的 font-size 修改成一个不可将 $value 除尽的值才可以看到效果，如 15px
   @include before('未经过方法 of-line 处理的 line-height'){
     line-height: $value; display: block;
   }

   @include after('经过方法 of-line 处理的 line-height'){
     line-height: of-line($value); display: block;
   }
 }
}

/* @debug oftest(
  'uf-to-num',
  uf-to-num('34.4578')
); */

/* @debug oftest(
  'uf-to-num__unit',
  uf-to-num__unit('123vmin')
); */

.for-style{
  @include div-box;

  > li{
    width: 3em; line-height: 1em; margin-left: .2em; border: .3em solid; float: left; counter-increment: li-count; text-align: center; background: 50% / 100% 100% no-repeat;
    @include before(null){
      content: counter(li-count);
    }
  }
  @include um-for-style(
    (
      1: #000 #000 'img3.jpg',
      2: #333 #333 'img4.jpg',
      3: #666 #666 'img2.jpeg',
      4: #999 #999 'img4.jpeg'
    ),
    ':nth-child(',
    ')',
    border-color color background-image
  );
  @include um-clear__after;
}

/* @debug oftest(
  'uf-font-size',
  uf-font-size(10)
); */

/* @debug oftest(
  'uf-round',
  uf-round(1234, -2)
); */

.keyframes{
  @include um-keyframes(){
    0%{
      color: #ccc;
    }
  }
}

.vertical-middle{
  &-box{
    @include div-box;
  }

  &{
    width: 50px; height: 100px; position: relative; display: inline-block; box-shadow: inset 0 0 0 1px #000;

    @include after{ 
      width: 20%; padding-top: 20%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: currentColor;
    }

    &:nth-child(2){
      @include after(null){
        margin-top: -3px;
      }
    }
  }
}

.scroll-panel{
  &-box{
    @include div-box;
  }

  &{
    width: 100px; height: 200px; overflow: auto;

    &-content{
      height: 500px; background: linear-gradient(#fff, #555);
    }
  }
}