@include describe('The of-line function =>'){
  $this-cache: $u-fontSize-root;
  $u-fontSize-root: 15px !global;

  $test-line-cache: 17;
  $test-line-value: all($test-line-cache);

  @include it('优化 line-height 值'){
    @include assert-equal(
      of-line($test-line-value) == $test-line-cache / uf-less($u-fontSize-root) * 1rem,
      false
    );

    $u-fontSize-root: $this-cache !global;
  }
}