{
  "presets": [ "@babel/preset-env" ],
  "plugins": [
    [ "@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" } ],
    "@babel/plugin-proposal-partial-application",
    [ "@babel/plugin-proposal-private-methods", { "loose": true } ],
    [ "@babel/plugin-proposal-class-properties", { "loose": true } ],
    "@babel/plugin-proposal-do-expressions"
  ]
}