//  mfor-style
//  -
/// 遍历输出 css 规则和属性
/// - 如果属性为 background-image，会自动调用 furl 方法对值进行处理
/// @param {map} $opts 数据（key：选择器，value：属性值）
/// @param {string} $prefix [''] 添加到 key 之前，拼接成一个新选择器
/// @param {string} $suffix [''] 添加到 key 之后，拼接成一个新选择器
/// @param {string, list} $list [background-position] 属性列表，string 类型的值还会被自动转换为 list 类型，其和 value 一一对应
/// @example
///   @include mfor-style(
///     (a: 1, b: 2 (5px 6px), 3 50% .5),
///     '> .',
///     '-test',
///     (line-height, background-position, opacity)
///   ){
///     z-index: 1;  
///   } 
@mixin mfor-style($opts, $prefix: '', $suffix: '', $list: background-position){
  $this-use: false;

  @if f4empty($list) == false{
    $this-type: type-of($list);

    @if $this-type == string{ //例：abc => (abc,)
      $list: ($list,);
      $this-type: list;
    }

    $this-length: length($list);

    @if $this-type == list{
      @each $key, $value in $opts{
        $value: f2list($value, false);
        $this-size: length($value);
        $this-through: min($this-size, $this-length);

        @if $this-through > 0{
          $this-rule: $prefix + $key + $suffix;

          #{$this-rule}{
            @for $i from 1 through $this-through{
              $this-key: nth($list, $i);
              $this-value: nth($value, $i);

              @if $this-key == background-image{ //CSS background-image 进行 furl 调用
                $this-value: furl($this-value);
              }

              #{$this-key}: $this-value;
            }
            @content;
          }
        }
      }
    }
  }
}