//  mmatches
//  -
/// :matches 伪类
/// - 当全局变量 $g4cssnext-matches: true 时，使用降级处理
/// @param {string<list>} $args 选择器参数列表
/// @example
///   @include mmatches('.abc', '.bcd'){
///     z-index: 1;  
///   }
@mixin mmatches($args...){
  $this-length: length($args);
  
  @if $this-length > 0{
    @if $g4cssnext-matches or $this-length == 1{
      $this-rules: '';
  
      @for $i from 1 to $this-length{
        $this-item: nth($args, $i);
        $this-rules: '#{$this-rules}&#{$this-item}, ';
      }
  
      $this-last: nth($args, $this-length);
      $this-rules: '#{$this-rules}&#{$this-last}';
  
      @at-root #{$this-rules}{
        @content;
      }
      
    } @else{
      $this-join: join($args, (), comma);
      $this-rules: unquote(':matches(#{$this-join})');
  
      &#{$this-rules}{
        @content;
      }
    }
  } @else{
    @content;
  }
}
