/// :not() level 4（多重选择器）
/// - 当全局变量 $g4cssnext-not: true 时，使用降级处理（:not() level 3）
/// @param {string<list>} $args 选择器参数列表
/// @example
///   @include mnot(':first-child', ':last-child'){
///     z-index: 1;  
///   }
@mixin mnot($args...){
  $selector: this();
  $this-length: length($args);
  $this-rules: '';

  @if $this-length > 0{
    @if $g4cssnext-not{
      @each $value in $args{
        $this-rules: '#{$this-rules}:not(#{$value})';
      }
    } @else{
      $this-join: join($args, (), comma);
      $this-rules: '#{$this-rules}:not(#{$this-join})';
    }
  }

  $this-rules: unquote($this-rules);

  @at-root #{$selector}#{$this-rules}{
    @content;
  }
}