//字符
$colon: unquote(':');
$colons: if($browser-ie-version > 8, unquote('::'), $colon);
$before: $colons + before;
$after: $colons + after;
$and: unquote('&');
$nbsp: '\0020';
$ensp: '\2002';
$emsp: '\2003';
$thinsp: '\2009';