//SCSS文件设置
$import-reset: true;             //是否导入重置样式

//SCSS配置
$global-decNum: 5;                //计算后小数取值位数（5 是 scss 默认小数长度）
$global-major-line: true;         //是否对 line-height 进行优化处理

//cssnext pollfill 开关
$global-cssnext: (
  'not': true,
  'matches': true
);

//const
$r-far: top right bottom left;
$r-pos: absolute relative fixed;

//基准参数
$browser-size: 16px;              //浏览器默认字体大小
$browser-width: 375px;            //基础宽度（用于转换视窗单位，取值为 iPhone 6 尺寸）
$browser-columns: 100;            //总列数（用于转换视窗单位）
$browser-ie-version: 9;           //要兼容的ie版本
$browser-vars: inherit, initial;  //css中定义的变量属性值
$browser-vector: 1rem;           //转换单位使用的向量标识
$browser-dpr: 1;                  //dpr值
$browser-fixed: (
  size: false      //font-size
);

//设备参数
$r-devices: (
  0: 320,
  1: 640
);

//dpr集合
$r-dpr: (
  2: '@2x',     //引用dpr = 2资源使用的别名
  3: '@3x'      //引用dpr = 3资源使用的别名
);

//单位向量集合
$r-vector: (
  '%': 1%,
  'em': 1em,
  'ex': 1ex,
  'ch': 1ch,
  'rem': 1rem,
  'vw': 1vw,
  'vh': 1vh,
  'vmax': 1vmax,
  'vmin': 1vmin,
  'cm': 1cm,
  'mm': 1mm,
  'q': 1q,
  'in': 1in,
  'pt': 1pt,
  'pc': 1pc,
  'px': 1px,
  'deg': 1deg,
  'grad': 1grad,
  'rad': 1rad,
  'turn': 1turn,
  's': 1s,
  'ms': 1ms,
  'Hz': 1Hz,
  'kHz': 1kHz
);

//属性集合
$r-fars: (
  radius: top-left top-right bottom-right bottom-left
);

//数字 Map
$r-nums: ();
@for $i from 0 through 9 {
  $r-nums: map-merge(
    $r-nums,
    ('#{$i}': $i)
  );
}