//基准参数（样式）
$r-path: unquote('images/');      //图片路径
$r-sprite: unquote('sprite.png');         //雪碧图
$r-family: 'Microsoft YaHei' !default;
$r-duration: .3s !default;                //动画过渡时间
$r-icon: 28px !default;                   //icon
$r-arrow: 8px !default;                   //箭头