//font-size
$r-size: 16px !default;              //用于 rem 的计算基准（font-size => html）
$rs-h1: $r-size * 1.375 !default;    //h1
$rs-h2: $r-size * 1.25 !default;     //h2
$rs-h3: $r-size * 1.125 !default;    //h3
$rs-h4: $r-size * 1  !default;       //h4
$rs-h5: $r-size * .875 !default;     //h5
$rs-h6: $r-size * .75  !default;     //h6
$rs-default: $r-size !default;       //default
$h: (
  h1: $rs-h1,
  h2: $rs-h2,
  h3: $rs-h3,
  h4: $rs-h4,
  h5: $rs-h5,
  h6: $rs-h6
) !default;

//line-height
$r-line: null !default;