//  mroot-adaptive
//  -
/// 设置一个基础 font，适应于 :root
/// @access private
/// @example
///   @include mroot-adaptive;
@mixin mroot-adaptive{
  $this-size: $gbasic-size / $gbrowser-fontSize * 100%;
  $this-line: $gbasic-line;
  $this-value: if(
    f4empty($this-line),
    $this-size,
    unquote('#{$this-size}/#{$this-line}')
  );

  font: $this-value $gbasic-family;
}

//  mh1to6
//  -
/// 重置 h1-h6 标签样式
/// @access private
/// @example
///   @include mh1to6;
@mixin mh1to6{
  $this-option: (
    h1: f2all($gsize-h1),
    h2: f2all($gsize-h2),
    h3: f2all($gsize-h3),
    h4: f2all($gsize-h4),
    h5: f2all($gsize-h5),
    h6: f2all($gsize-h6),
  );

  @include mfor-style($this-option, $list: font-size){
    @extend %ereset-h;
  };
}