//  um-effect__arrow
//  -
/// 快速制作一个颜色为当前色值的箭头
/// - 当 $rotate 值为纯数字时，将自动添加单位 deg
/// - 当 $rotate 不为 Number 类型时，将不添加 transform 属性
/// @param {Number} $size [$u-icon-arrow] 箭头所属盒子的大小
/// @param {Number} $weight [2px] 箭头的边框大小
/// @param {Number} $rotate [45deg] 箭头的角度
/// @example scss -
///   @include um-effect__arrow(1em);
@mixin um-effect__arrow($size: $u-icon-arrow, $weight: 2px, $rotate: 45deg){
  @include um-ratio(all($size), 0);

  @if type-of($rotate) == number {
    @if uf-vector($rotate) == null {
      $rotate: $rotate * 1deg;
    }

    transform: rotate($rotate);
  }

  border: solid; border-width: $weight $weight 0 0; box-sizing: border-box;
}

//  um-effect__triangle
//  -
/// 快速制作一个颜色为当前色值的等腰三角形
/// - 受全局变量 $u-browser-ie-version 的影响，会产生 ie8 和非 ie8 两种模式
/// @param {Number} $edge 三角形底边宽
/// @param {Number} $height [$edge] 三角形高度
/// @param {1|2|3|4} $mode [1] 箭头方向
/// - 1：向上箭头
/// - 2：向右箭头
/// - 3：向下箭头
/// - 4：向左箭头
/// @example scss -
///   @include um-effect__triangle(2em);
@mixin um-effect__triangle($edge, $height: $edge, $mode: 1){
  $this-flow-positive: uf-negate__prop($mode + 1);
  $this-flow-negative: uf-negate__prop($this-flow-positive);
  $this-div-positive: 2 - $mode % 2;
  $this-div-negative: 2 - $this-flow-positive % 2;
  $this-list: ($edge, $height);
  $this-value-positive: nth($this-list, $this-div-negative) / $this-div-positive;
  $this-value-negative: nth($this-list, $this-div-positive) / $this-div-negative;

  @include um-ratio(0);

  @if $u-browser-ie-version > 8 {
    $this-flow-anti: uf-negate__prop($mode);

    border: solid transparent; border-width: $this-value-positive $this-value-negative;
    @include um-fast__dir($mode, 0, border, width);
    @include um-fast__dir($this-flow-anti, currentColor, border, color);
  } @else {
    border: solid; border-width: $this-value-positive $this-value-negative;
    @include um-fast__dir($this-flow-positive, transparent, border, color);
    @include um-fast__dir($this-flow-negative, transparent, border, color);
    @include um-fast__dir($mode, 0, border, width);
  }
}

//  um-effect__triangle-equil
//  -
/// 快速制作一个颜色为当前色值的等边三角形
/// - 受全局变量 $u-browser-ie-version 的影响，会产生 ie8 和非 ie8 两种模式
/// @param {Number} $edge 三角形底边宽
/// @param {1|2|3|4} $mode [1] 箭头方向
/// - 1：向上箭头
/// - 2：向右箭头
/// - 3：向下箭头
/// - 4：向左箭头
/// @example scss -
///   @include um-effect__triangle-equil(2em);
@mixin um-effect__triangle-equil($edge, $mode: 1){
  $value: uf-less($edge);
  $height: sqrt(pow($value, 2) - pow($value / 2, 2)) * uf-vector($edge);

  @include um-effect__triangle($edge, $height, $mode);
}