//  f4rational
//  -
/// 返回两数运算结果是否为有理数（值是否可以除尽）
/// - 在 sass 中由于小数取值长度的问题，有理数的定义为小数5位数，超过则为无理数
/// @param {number} $first -
/// @param {number} $second -
/// @param {0|1} $way
/// 0：表示两数进行除法运算
/// 1：表示两数进行乘法运算
/// @return {bool} -
/// @example
///   f4rational(5, 2)  //true
///   f4rational(5, 3)  //false
///   f4rational(5, 1 / 2, 1) //true
///   f4rational(5, 1 / 3, 1) //false
///   f4rational(0.001, 0.001, 1) //false
@function f4rational($first, $second, $way: 0){
  $this-first: fless($first);
  $this-second: fless($second);

  $this-value: if(
    $way == 0,
    $this-first / $this-second,
    $this-first * $this-second
  );

  @return f2num('#{$this-value}') == $this-value;
}

//  f4rational-reciprocal
//  -
/// 返回一个数的倒数是否为有理数
/// - 在 sass 中由于小数取值长度的问题，有理数的定义为小数5位数，超过则为无理数
/// @param {number} $num -
/// @return {bool} -
/// @example
///   f4rational(2) //true
///   f4rational(3) //false
@function f4rational-reciprocal($num){
  @return f4rational(1, $num);
}