$test-marrow-width: 1em;
$test-marrow-weight: 2px;

@mixin test-marrow{
  @include mratio($test-marrow-width, 0);
  border: solid; border-width: $test-marrow-weight $test-marrow-weight 0 0; box-sizing: border-box;
}

@include describe('The marrow mixin =>'){
  $this-value: 45deg;

  @include it('使用 $rotate: #{$this-value} 定义一个向右的箭头'){
    @include assert{
      @include output{
        @include marrow($test-marrow-width, $test-marrow-weight, $this-value);
      }

      @include expect{
        @include test-marrow;
        transform: rotate(45deg);
      }
    }
  }

  $this-value: 2;

  @include it('使用 $rotate: #{$this-value} 定义一个向右的箭头'){
    @include assert{
      @include output{
        @include marrow($test-marrow-width, $test-marrow-weight, $this-value);
      }

      @include expect{
        @include test-marrow;
        transform: rotate(45deg);
      }
    }
  }

  $this-value: var(--b);

  @include it('使用 $rotate: #{$this-value} 定义一个向右的箭头'){
    @include assert{
      @include output{
        @include marrow($test-marrow-width, $test-marrow-weight, $this-value);
      }

      @include expect{
        @include test-marrow;
        transform: rotate($this-value);
      }
    }
  }
}