@include describe('The mtriangle-equil mixin =>'){
  $this-value: 2em;

  @include it('边框长度为 #{$this-value} 的等边三角形'){
    @include assert{
      @include output{
        @include mtriangle-equil($this-value);
      }

      @include expect{
        $this-temp: fless($this-value);
        $this-border-hypot: sqrt(pow($this-temp, 2) - pow($this-temp / 2, 2)) * fvector($this-value);
        $this-border-width: $this-border-hypot $this-value / 2;

        width: 0; height: 0; border: solid transparent; border-width: $this-border-width; border-top-width: 0; border-bottom-color: currentColor;
      }
    }
  }
}