$test-triangle-edge: 2em;

@include describe('The um-effect__triangle mixin =>'){
  @include it('向上的等腰三角形'){
    @include assert{
      @include output{
        @include um-effect__triangle($test-triangle-edge);
      }

      @include expect{
        $this-border-width: $test-triangle-edge $test-triangle-edge / 2;

        width: 0; height: 0;

        @if $u-browser-ie-version > 8 {
          border: solid transparent; border-width: $this-border-width; border-top-width: 0; border-bottom-color: currentColor;
        } @else {
          border: solid; border-width: $this-border-width; border-left-color: transparent; border-right-color: transparent; border-top-width: 0;
        }
      }
    }
  }
}