@mixin test-for_style-mixin{
  z-index: 1;
}

@include describe('The mfor-style mixin =>'){
  @include it('高级应用'){
    @include assert{
      @include output(false){
        @include mfor-style(
            (
              a: 1,
              b: 2 (5px 6px),
              c: 3 50% .5,
            ),
            '> .',
            '-test',
            (
              line-height,
              background-position,
              opacity,
            )
          ){
          @include test-for_style-mixin;
        }
      }

      @include contains(false){
        > .a-test{
          line-height: 1;
          @include test-for_style-mixin;
        }

        > .b-test{
          line-height: 2; background-position: 5px 6px;
          @include test-for_style-mixin;
        }

        > .c-test{
          line-height: 3; background-position: 50%; opacity: 0.5;
          @include test-for_style-mixin;
        }
      }
    }
  }
}