@include describe('The mkeyframes mixin =>'){
  @include it('使用简写模式定义一个属性 animation'){
    @include assert{
      @include output{
        @include mkeyframes(abc, 2s infinite backwards){
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        };
      }

      @include expect{
        animation: abc 2s infinite backwards;

        @keyframes abc{
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
        }
      }
    }
  }
}