$test-quick_relative-size: 20px;
$test-quick_relative-props: (
  width: 20px,
  height: 1rem,
  z-index: 1,
);
$test-quick_relative-itself: true;
$test-quick_relative-option: (
  rem: true,
);

@include describe('The mquick mixin =>'){
  @include it('快速创建一个基于 em 为单位的 CSS Module'){
    @include assert{
      @include output{
        @include mquick($test-quick_relative-size, $test-quick_relative-props, 45deg, $test-quick_relative-option);
      }

      @include expect{
        $this-width: map-get($test-quick_relative-props, width) / $test-quick_relative-size * 1em;
        $this-height: if(
          map-get($test-quick_relative-option, rem),
          map-get($test-quick_relative-props, height) / 1rem * $gbasic-size,
          map-get($test-quick_relative-props, height)
        ) / $test-quick_relative-size * 1em;
        $this-zindex: map-get($test-quick_relative-props, z-index);

        @if $test-quick_relative-itself{
          font-size: f2all($test-quick_relative-size);
        }

        width: $this-width; height: $this-height; z-index: $this-zindex;
      }
    }
  }
}