//  uf-is-number
//  -
/// 检测是否为 number 类型
/// @param {Object} $value -
/// @return {Boolean} -
@function uf-is-number($value){
  @return type-of($value) == 'number';
}

//  uf-is-rational__division
//  -
/// 检测运算（除法）结果是否为有理数（该有理数的定义为是否在 sass 的取值范围）
/// @param {Number} $a 被除数
/// @param {Number} $b 除数
/// @return {Boolean} -
@function uf-is-rational__division($a, $b){
  $a: uf-less($a);
  $b: uf-less($b);
  $operation-result: unquote('#{$a / $b}');
  $operation-result: uf-to-num($operation-result);
  @return $a / $operation-result == $b;
}

//  uf-is-rational__multiplication
//  -
/// 检测运算（乘法）结果是否为有理数（该有理数的定义为是否在 sass 的取值范围）
/// @param {Number} $a 被乘数
/// @param {Number} $b 乘数
/// @return {Boolean} -
@function uf-is-rational__multiplication($a, $b){
  $a: uf-less($a);
  $b: uf-less($a);
  $operation-result: unquote('#{$a * $b}');
  $operation-result: uf-to-num($operation-result);
  @return $a * $b == $operation-result;
}

//  uf-is-rational__number
//  -
/// 检测运算（倒数）结果是否为有理数（该有理数的定义为是否在 sass 的取值范围）
/// @param {Number} $value 求倒值
/// @return {Boolean} -
@function uf-is-rational__number($value){
  @return uf-is-rational__division(1, $value);
}