//  uf-dir
//  -
/// 获取方向值
/// @param {String} $prop [''] -
/// @return {List} -
@function uf-dir($prop: ''){
  $far: map-get($u-quartet-table, $prop);
  @return if(
    uf-is-empty($far),
    $u-quartet,
    $far
  );
}

//  uf-dir
//  -
/// 取反值（属性）
/// @param {Number} $mode [1] -
/// @param {String} $prop [''] -
/// @return {Number} -
@function uf-negate__prop($mode: 1, $prop: ''){
  $far: uf-dir($prop);
  $length: length($far);
  @return uf-negate($mode, $length);
}

//  uf-negate
//  -
/// 取反值
/// @param {Number} $mode -
/// @param {Number} $range -
/// @return {Number} -
@function uf-negate($mode, $range){
  $value: ($mode + 2) % $range;
  @return if(
    $value == 0,
    $range,
    $value
  );
}

//  uf-uuid
//  -
/// 获取一个 uuid
/// @param {String} $space ['A'] -
/// @return {String} -
@function uf-uuid($space: 'A'){
  $num: random();
  $id: str-slice(unquote('#{$num}'), 3);
  @return unquote('#{$space}#{$id}');
}