//  uf-string-split
//  -
/// 字符串分割
/// @param {String} $string -
/// @param {String} $separator 分隔符
/// @return {List} -
@function uf-string-split($string, $separator){
  @if uf-is-empty($separator) {
    $list: ();
    @return append(
      $list,
      $string
    );
  } @else if type-of($separator) != string {
    $separator: unquote('#{$separator}');
  }
  @return uf-string-split__for((), $string, $separator);
}

//  uf-string-split__for
//  -
/// 字符串分割（分割好后的子串加入到列表中）
/// @param {List} $list -
/// @param {String} $string -
/// @param {String} $separator 分隔符
/// @return {List} -
@function uf-string-split__for($list, $string, $separator){
  $index: str-index($string, $separator);
  @if uf-is-empty($index) {
    @return append(
      $list,
      $string
    );
  } @else {
    $list: append(
      $list,
      str-slice($string, 0, $index - 1)
    );
    $string: str-slice(
      $string,
      $index + str-length($separator)
    );
    @return uf-string-split__for($list, $string, $separator);
  }
}

//  uf-is-string
//  -
/// 检测是否为 String 类型
/// @param {Object} $value -
/// @return {Boolean} -
@function uf-is-string($value){
  @return type-of($value) == 'string';
}