//  uf-to-all
//  -
/// 单位转换（总接口）
/// - 会对 $value 进行 px 转换
/// @param {Number} $value -
/// @param {Number} $base [$u-fontSize-root] 转换的参数值
/// @param {Number} $dpr [$u-view-dpr] dpi 设置
/// @return {Number} -
@function uf-to-all($value, $base: $u-fontSize-root, $dpr: $u-view-dpr){
  $this-unit: unit($u-vector);

  @if uf-is-empty($base) and index(vmin vmax vh vw, $this-unit) != null {
    $base: uf-vector($u-vector);
    $this-unit: vmin;
  }

  $name: unquote('uf-to-#{$this-unit}');
  $value: uf-to-px($value);

  @if function_exists($name) {
    $value: call(get-function($name), $value, $base);
    @return $value / $dpr;
  } @else {
    @return $value;
  }
}

//  all
//  -
/// 方法 uf-to-all 的简写模式 
@function all($args...){
  @return uf-to-all($args...);
}

//  uf-to-rem
//  -
/// 单位转 rem
/// - 会对 $value 进行 px 转换
/// @param {Number} $value -
/// @param {Number} $base [$u-fontSize-root] 转换的参数值
/// @return {Number} -
@function uf-to-rem($value, $base: $u-fontSize-root){
  $vector: uf-vector(1rem);
  $value: uf-to-px($value);
  @return if(
    uf-is-px($value),
    uf-round($value / $base * $vector, $u-toFixed-length),
    $value
  );
}

//  uf-to-vmin
//  -
/// 单位转 vmin
/// - 会对 $value 进行 px 转换
/// - 
/// @param {Number} $value -
/// @param {Number} $vector [$u-view-vector] 设置返回值向量（单位）
/// @return {Number} -
@function uf-to-vmin($value, $vector: $u-view-vector){
  $vector: uf-vector($vector) ;
  $value: uf-to-px($value);
  @return if(
    uf-is-px($value),
    $value / $u-view-width * 100 * $vector,
    $value
  );
}

//  uf-to-px
//  -
/// 数字 => px
/// @param {Number} $value
/// @param {Object} $base [null] -
/// - 无实际意义参数，只为了方便统一调用 function all 而设置
/// @return {Number} -
@function uf-to-px($value, $base: null){
  @return if(
    type-of($value) == 'number' and $value != 0 and unit($value) == '',
    $value * uf-vector(1px),
    $value
  );
}

//  uf-font-size
//  -
/// 对 font-size 值进行转换
/// - 单独对 font-size 进行调用该方法进行转换的话，方便全局对 font-size 的转换进行设置
/// @param {Number} $value
/// @return {Number} -
@function uf-font-size($value){
  $value: uf-to-px($value);
  @return if(
    $u-fixed__fontSize,
    $value,
    all($value)
  );
}

//  uf-less
//  -
/// 去除单位
/// @param {Number} $value
/// @return {Number} -
@function uf-less($value){
  @return if(
    unitless($value),
    $value,
    $value / uf-vector($value)
  );
}

//  uf-vector
//  -
/// 返回单位向量
/// @param {Number} $value
/// @return {Number} -
@function uf-vector($value){
  @return map-get(
    $u-vector-table,
    unit($value)
  );
}