@include describe('The uf-icons function =>'){
  @include it('格式化 map 数据'){
    @include assert-equal(
      uf-icons(
        (
          a: 'abc',
          b: 'bdc',
        ),
        'icon-',
        '.png',
      ),
      (
        a: unquote('icon-abc.png'),
        b: unquote('icon-bdc.png'),
      )
    );
  }

  @include it('格式化 list 数据'){
    @include assert-equal(
      uf-icons(
        (
          'abc'
          'bdc'
        ),
        'icon-',
        '.png',
      ),
      (
        abc: unquote('icon-abc.png'),
        bdc: unquote('icon-bdc.png'),
      )
    );
  }
}