$test-height-value: 1em;
$test-height-row: 2;

@include describe('The mheight mixin =>'){
  @include it('高度为行高的#{$test-height-row}倍'){
    @include assert{
      @include output{
        @include mheight($test-height-value, $test-height-row);
      }
      
      @include expect{
        height: $test-height-value * $test-height-row; line-height: $test-height-value;
      }
    }
  }
}