$test-placeholder-color: #ccc;

@mixin test-placeholder-mixin{
  z-index: 1;
}

@include describe('The mplaceholder mixin =>'){
  @include it('设置 ::placeholder 样式'){
    @include assert{
      @include output{
        @include mplaceholder($test-placeholder-color){
          @include test-placeholder-mixin;
        }
      }

      @include contains{
        &::-webkit-input-placeholder{
          color: $test-placeholder-color;
          @include test-placeholder-mixin;
        }

        &::-moz-placeholder{
          color: $test-placeholder-color; opacity: 1 !important;
          @include test-placeholder-mixin;
        }

        &:-ms-input-placeholder{
          color: $test-placeholder-color;
          @include test-placeholder-mixin;
        }
      }
    }
  }
}