/// 浏览器的字体默认大小
$gbrowser-fontSize: 16px;

/// SCSS 计算值的最大长度（小数部分）
$gscss-dec: 5;

/// 基础矩阵属性（特指包含有上、右、下、左方位的属性）
$gmatix-basic: (top right bottom left);

/// 向量映射表
$gvector-table: (
  '%': 1%,
  'em': 1em,
  'ex': 1ex,
  'ch': 1ch,
  'rem': 1rem,
  'vw': 1vw,
  'vh': 1vh,
  'vmax': 1vmax,
  'vmin': 1vmin,
  'cm': 1cm,
  'mm': 1mm,
  'q': 1q,
  'in': 1in,
  'pt': 1pt,
  'pc': 1pc,
  'px': 1px,
  'deg': 1deg,
  'grad': 1grad,
  'rad': 1rad,
  'turn': 1turn,
  's': 1s,
  'ms': 1ms,
  'Hz': 1Hz,
  'kHz': 1kHz,
);

/// 数字映射表
$gnum-table: ();

@for $i from 0 through 9{
  $gnum-table: map-merge($gnum-table, ('#{$i}': $i));
}

/// 设置是否导入 reset 样式
$g4import-reset: true !default;

/// 设置是否开启 line-height 优化处理
$g4major-line: true !default;

/// 设置是否开启 :not 多重选择器的降级处理
$g4cssnext-not: true !default;

/// 设置是否开启 :matches 多重选择器的降级处理
$g4cssnext-matches: true !default;

/// 设置是否启用将多个选择符以逗号分隔的方式并为组
/// - 1、浏览器在解析 CSS 时遇到不识别的选择符时，会舍弃该组选择符（即使其他选择符是识别的）
/// - 2、由于第 1 点的原因，所以目前做兼容选择符样式时，都是单独成组
$g4cssnext-group: false !default;

/// 设置视窗单位（vw、vh、vmin、vmax）的计算基础（默认值为 iPhone 6 尺寸）
$gviewport-width: 375px !default;

/// 设置视窗向量（相关视窗方法的基础单位）
$gviewport-vector: 1vmin !default;

/// 设置视窗栅格（转换视窗单位时，要将窗口分成的份数）
$gviewport-column: 100 !default;

/// 设置物理像素和设备像素比值（devicePixelRatio）
$gdpr: 1 !default;

/// 不同 devicePixelRatio 环境下使用的图片映射
$gdpr-table: (
  2: '@2x',
  3: '@3x',
) !default;

/// 设置基础向量
/// - 基础向量决定了方法 f2all 的输出单位
$gvector: 1rem !default;

/// 设置（CSS）基础字体
$gbasic-family: 'Microsoft YaHei' !default;

/// 设置（CSS）统一资源路径（一般都特指图片资源）
$gbasic-path: unquote('assets/') !default;

/// 设置（CSS）动画 duration 基本值
$gbasic-duration: .3s !default;

/// 设置特殊矩阵属性映射表
/// - 特殊矩阵指新属性不是由 属性名-方向（如 border-left） 组合得到
$gmatix-table: (
  radius: (top-left top-right bottom-right bottom-left), //border-radius
) !default;

/// 配置（全局） mixin mquick
$gquick-options: (
  rem: false, //是否对单位为 rem 的值进行转换
) !default;

/// 冒号（半角）
$gchar-colon: unquote(':');

/// 双冒号（半角）
$gchar-colons: unquote('::');

/// 基础（CSS）字体大小
/// - 该值是很多方法的计算基础值，只能使用 px 单位
$gbasic-size: 16px !default;

/// 基础（CSS）行高
$gbasic-line: null !default;

/// 标签 h1 的字体大小
$gsize-h1: $gbasic-size * 1.375 !default;

/// 标签 h2 的字体大小
$gsize-h2: $gbasic-size * 1.25 !default;

/// 标签 h3 的字体大小
$gsize-h3: $gbasic-size * 1.125 !default;

/// 标签 h4 的字体大小
$gsize-h4: $gbasic-size * 1 !default;

/// 标签 h5 的字体大小
$gsize-h5: $gbasic-size * .875 !default;

/// 标签 h6 的字体大小
$gsize-h6: $gbasic-size * .75 !default;

/// 标签 body 的字体大小
$gsize-body: $gbasic-size !default;

/// 基础（CSS）色值
$gbasic-color: #333 !default;

/// 高亮色值
$gcolor-light: #666 !default;

/// 暗色色值
$gcolor-dark: #000 !default;

/// 警告色值
$gcolor-warn: #ff0 !default;

/// 危险色值
$gcolor-danger: #ff0 !default;

/// hover 状态色值
$gcolor-hover: #189cd8 !default;

/// active 状态色值
$gcolor-active: #189cd8 !default;

/// disabled 状态色值
$gcolor-disabled: #ccc !default;

/// placeholder 伪类色值
$gcolor-placeholder: #ddd !default;

/// 基础（CSS）背景色
$gbasic-bgcolor: #eee !default;

/// 基础（CSS）图标大小
$gbasic-icon: 28px !default;

/// 箭头图标大小
$gicon-arrow: 8px !default;